<div class="w-screen h-full flex flex-col overflow-hidden p-4">
    <div>
        <button [routerLink]="['/']" routerLinkActive="router-link-active"
            class="bg-slate-200 px-3 py-1 rounded-md shadow cursor-pointer hover:bg-slate-300 hover:shadow-2xl">
            <i class="bi bi-arrow-left"></i> Back</button>
    </div>

    @if(country) {
    <h1 class="text-center font-thin text-4xl md:text-6xl">{{country[0].name.common}}</h1>

    <p class="mt-2 text-4xl font-thin">Capital: {{ country[0].capital[0] }}</p>
    <p class="mt-2 text-4xl font-thin">Region: {{ country[0].region }}</p>
    <img [src]="country[0].flags.png"  class="  mx-auto w-60 mt-4 " alt="" />
    <h1> </h1>


    


    }

</div>